<p id="notice"><%= notice %></p>

<h1>Trees</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Raw text</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trees.each do |tree| %>
      <tr>
        <td><%= tree.title %></td>
        <td><%= tree.raw_text %></td>
        <td><%= link_to 'Show', tree %></td>
        <td><%= link_to 'Edit', edit_tree_path(tree) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tree', new_tree_path %>
